:root {
    --corAzul: #0E4194;
    --corAzulSaturada: #E8F0FE;
    --corAmarelo: #F5B800;
    --corLaranja: #FF8000;
    --tamanho16px: 16px;
    --tamanho22px: 22px;
    --tamanho36px: 36px;
}
* {
    font-weight: 300;
    font-family: 'Poppins';
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    top: 0;
    background-color: var(--corAzulSaturada);
    width: 100%;
    height: 95%;
}
input {
    border: 3px;
    background-color: transparent;
    border-radius: 25px;
    height: 90px;
    width: 760px;
}
label {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
button {
    color: white;
    border-radius: 25px;
    height: 50px;
    width: 30%;
    border: 0px;
    background-color: var(--corLaranja);
    box-shadow: 3px 3px 3px rgb(167, 167, 167);
}