:root {
    --corAzul: #0E4194;
    --corAzulSaturada: #E8F0FE;
    --corAmarelo: #F5B800;
    --corLaranja: #FF8000;
    --tamanho16px: 16px;
    --tamanho22px: 22px;
    --tamanho36px: 36px;
}
header {
    margin-top: 20px;
    height: 60px;
}
main {
    margin-top: 49px;
    height: 80%;
}
footer {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: var(--corAzul);
    height: 133px;
    width: 100%;
    bottom: 0;
    align-content: center;
}
h1 {
    margin: 0;
    font-size: var(--tamanho36px);
    color: black;
    text-align: center;
}
#button-area-restrita {
    display: block;
    margin: 0;
    text-align: center;
    margin-left: 90%;
    color: white;
    border-radius: 0px;
    height: 20px;
    width: 80px;
    border: 0px;
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    transition: 0.5s;
}
#container {
    transition: 0.5s;
    display: block;
    border-radius: 100px 100px 0px 0px;
    margin: 0 auto;
    background-color: white;
    width: 80%;
    height: 100%;
    display: flex;
}
#container div {
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 0;
}
#container div:nth-child(2) {
    transition: 0.5s;
    margin-top: 15%;
}
#container div button {
    width: 60%;
    font-size: var(--tamanho16px);
}
#container div img {
    width: 100%;
    height: 100%;
}
a {
    color: var(--corLaranja);
}
header img {
    transition: 0.5s;
    margin-left: 25px;
    width: 80px;
}
#container img {
    transition: 0.5s;
    border-radius: 100px 0px 0px 0px;
}

@media(max-width: 1300px) {
    #button-area-restrita {
        margin-left: 88%;
    }
    #container div:nth-child(2) {
        margin-top: 25%;
    }
    #container {
        width: 90%;
        margin: 0;
        margin-left: auto;
        border-radius: 100px 0px 0px 0px;
    }
}

@media(max-width: 850px) {
    header img {
        margin: 0 auto;
        display: block;
    }
    h1 {
        font-size: var(--tamanho22px);
    }
    #button-area-restrita {
        margin-left: 85%;
    }
    #container {
        width: 100%;
        margin: 0;
        margin-left: auto;
        border-radius: 0px 0px 0px 0px;
        flex-direction: column-reverse;
    }
    #container div {
        margin: 0;
        width: 100%;
        height: 50%;
    }
    #container div:nth-child(1) {
        height: 77%;
    }
    #container > div > img {
        border-radius: 0px 0px 0px 0px;
    }
}