:root {
    --corAzul: #0E4194;
    --corAzulSaturada: #E8F0FE;
    --corAmarelo: #F5B800;
    --corLaranja: #FF8000;
    --tamanho16px: 16px;
    --tamanho22px: 22px;
    --tamanho36px: 36px;
}

form img {
    position: relative;
    top: -58px;
    width: 30px;
    height: 30px;
}
#infoSenha {
    position: relative;
    opacity: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-top: 6px;
    transition: 0s;
}
#campo-senha {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
#campo-senha label {
    margin-left: 3%;
}
#campo-senha > section:nth-child(1) {
    width: 70%;
}
#campo-senha > section:nth-child(2) {
    width: 10%;
}
#campo-senha > section > input{
    width: 100%;
}
#popUp {
    color: white;
    background-color: var(--corAzul);
    display: none;
    position: fixed;
    opacity: 1;
    width: 400px;
    height: 200px;
    top: 90px;
    left: 0;
    border-radius: 0px 50px 50px 0px;
    z-index: 10;
    text-align: left;
}
#popUp h2 {
    color: white;
    font-weight: 100;
}
#popUp div {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
#popUp ul {
    margin-left: 30px;
}
:has(#infoSenha:checked) #popUp {
    display: block;
}
:has(#infoSenha:checked) #infoSenha {
    margin: 0;
    position: fixed;
    top: 143px;
    left: 318px;
    width: 30px;
    height: 30px;
    z-index: 999;
}
:has(#infoSenha:checked) form img {
    top: 31px;
}